.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  margin: 0;
  background-image: linear-gradient(to right, #F6D65B, #72B4AC);
}

.pymtbtn {
  justify-self: bottom;
  color: white;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  
}

h1, h2, h3, h4, h5 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#divh3 {
  text-align: center;
}

.navbar {
    background-color: #72B4AC;
    animation-name: example;
    animation-duration: 5s;
}

@keyframes example {
  from {background-color: #F6D65B;}
  to {background-color: #72B4AC;}
}

#footerAddress {
    background-color: #72B4AC;
    color: white;
    padding: 10px 0px 5px;
  }

#footerPrivacy {
  background-color: #6C757D;
  font-size: 12px;
  padding: 10px 0px 5px;
  color: white;
}

.fa {
    color: white;
}

#residentImg {
    height: 300px;
  }

  #boardMembersImg {
    height: 300px
  }
  
  #blueZoneImg {
    height: 300px
  }
  
  .row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#banquet-room-link, #eventsProgramsLink, #poolEventsLink, #neighborhoodWatchEventsLink, #eventsMembershipLink {
  color: black;
}

#carouselButton {     
  position: absolute;
  right: 0;
  bottom: 0; 
}

#neighborhoodwatch4img {
  align-content: center;
}

.card-body {
  height: 200px;
  text-align: left;
  overflow-y: auto;
  overflow-x: auto;
}

.card-header {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.carouselCaption, .tdNoActivity {
  background-color: gray;
  opacity: 75%;
}

#cardBodyProgram {
  height: auto;
}

#thProgram {
  width: 150px;
}

.bulletinCol {
  padding: 10px 10px 10px 10px;
}

.zoom {
  transition: transform .2s; /* Animation */
  height: 100px;
  z-index: 1;
}

.zoom:hover {
  transform: scale(5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zindex {
  z-index: -1;
}