body {
  font-family: "Open Sans", sans-serif;
  
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
}

.navbar {
    background-color: #72B4AC;
}

#footerAddress {
    background-color: #72B4AC;
}

#footerPrivacy {
  background-color: #6C757D;
  font-size: 12px;
  padding: 10px 0px 5px
}

.btn {
    color: white;
}

.fa {
    color: white;
}

/* hover dropdown menu - start */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  /* hover dropdown menu - end */


/* Index Carousel - start */
  .carousel-caption {
    background-color: rgba(108, 117,125, 0.5);
    margin: 5px;
  }
      
  #welcomeImg, #communityImg, #familyImg {
    height: 500px
  }
  
/* Carousel - end */

#residentImg {
    height: 300px;
  }

  #boardMembersImg {
    height: 300px
  }
  
  #blueZoneImg {
    height: 300px
  }
  
  .row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#banquet-room-link, #eventsProgramsLink, #poolEventsLink, #neighborhoodWatchEventsLink, #eventsMembershipLink {
  color: black;
}

#carouselButton {     
  position: absolute;
  right: 0;
  bottom: 0; 
}

#neighborhoodwatch4img {
  align-content: center;
}

/* scroll bar for cards applies also to accordion
.card-header {
  font-size: 18px;
  height: 50px;
}
 }
*/
.card-body {
  height: 200px;
  /*width: 447px; */ /*this line causes the scroll bar to be static instead of moving with width of the page */
  overflow-y: auto;
  overflow-x: auto;
